/**
 * This file has been created automatically by Uni CPO plugin
 * Last modified time: Feb 28 2023, 10:52:38
 */


        .uni-node-5c807279 .uni-row-content-wrap {
				 color: #333333;																														 margin-bottom: 20px; 												        }
				            .uni-node-5c807279 .uni-row-content-wrap a:hover {
            color:;
            }
		
		

        .uni-node-a45f4c6d {
		 float: left;		 width: 47%; 								        }
        .uni-node-a45f4c6d .uni-col-content {
																						        }

		

        .uni-node-08f40be0 {
                                                        }

                    .uni-node-08f40be0 .uni-cpo-module-text_input-label {
                                                                                            }
        
        .uni-node-08f40be0 input[type="text"], .uni-node-08f40be0 input[type="number"] {
			 width: 100%!important; max-width: 100%!important;			 height: 36px!important; min-height: 36px!important;																								 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 									 padding-left: 14px!important; 			 padding-right: 14px!important;         }

		

        .uni-node-3bacc031 {
		 float: right;		 width: 47%; 								        }
        .uni-node-3bacc031 .uni-col-content {
																						        }

		

        .uni-node-22e3a1ee {
                                                        }

                    .uni-node-22e3a1ee .uni-cpo-module-text_input-label {
                                                                                            }
        
        .uni-node-22e3a1ee input[type="text"], .uni-node-22e3a1ee input[type="number"] {
			 width: 100%!important; max-width: 100%!important;			 height: 36px!important; min-height: 36px!important;																								 border-top: 1px solid #d7d7d7!important; 			 border-bottom: 1px solid #d7d7d7!important; 			 border-left: 1px solid #d7d7d7!important; 			 border-right: 1px solid #d7d7d7!important; 			 border-radius: 5px!important; 									 padding-left: 14px!important; 			 padding-right: 14px!important;         }

		

